<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="textbook exchange" />
	<meta name="keywords" content="textbook, exchange, Dartmouth" />
	<meta name="author" content="Kevin Guh, Dartmouth Hackers Club" />
	{% if title %}
	<title>DTextchange - {{title}}</title>
	{% else %}
	<title>DTextchange</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="http://bootstrap.hackdartmouth.org/assets/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/design.css') }}" />
	<link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/aesthetics.js') }}"></script>
</head>
<body ng-app="app">
	<div id="header-section">
		<div class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavbarController as navController">
			<div class="container nav-collapse">
				<div class="navbar-inner">	
					<ul class="nav navbar-nav navbar-left">
						<li ng-class="active: navController.isActive(0)"><a href="/index" ng-click="navController.setActive(0)">Home</a></li>
						{% if not session['logged_in'] %}
						<li ng-class="active: navController.isActive(1)"><a href="/signup" ng-click="navController.setActive(1)">Register</a></li>
						{% endif %}
						<li ng-class="active: navController.isActive(2)"><a href="/contact" ng-click="navController.setActive(2)">Contact Us</a></li>
						<li ng-class="active: navController.isActive(3)"><a href="http://coursetown.hacktown.cs.dartmouth.edu/" ng-clock="navController.setActive(3)">Course Picker</a></li>
					</ul>
					{% if session['logged_in'] %}
						<div class="nav navbar-nav navbar-right" ng-controller="MenuController as menu">
							<div class="btn-group">
								<button class="btn btn-success dropdown-toggle" id="menu-button" type="button" style="margin-top: 6px; width: 160px" ng-click="menu.changeMenuState()">
									Welcome, {{session['user']}}!
									<span class="caret"></span>
								</button>
								<div>
									<ul role="menu" class="dropdown-menu" id="user-menu">
										<li style="margin-top: 10px"><a href="/profile"><p>My Profile</p></a></li>
										<li><a href="update_info"><p>Update Information</p></a></li>
										<hr class="divider" style="margin-top: 10px; margin-bottom: 10px"/>
										<li><a href="/policies_and_information"><p>Policies</p></a></li>
										<li><a href="/logout"><p>Logout</p></a></li>
									</ul>
								</div>
							</div>
							
						</div>
					{% else %}
						<form name="login" action="/index" method="post">
							<ul class="nav navbar-nav navbar-right">
								<li>
									<span class="login-info">{{login_form.username(placeholder="username", style="margin-top: 10px")}}</span>
									{% if login_form.errors['username'] %}
										<div class="error-message">{{login_form.errors['username'][0]}}</div>
									{% endif %}
								</li>
								<li>
									<span class="login-info">{{login_form.password(placeholder="password", style="margin-left: 10px; margin-top: 10px")}}</span>
									{% if login_form.errors['password'] %}
										<div class="error-message">{{login_form.errors['password'][0]}}</div>
									{% endif %}
								</li>
								<li>
									<span class="login-info">{{login_form.submit(style="margin-left: 20px; margin-top: 14px", class="btn btn-small btn-success")}}</span>
								</li>
								<li>
									<span class="login-info">{{login_form.remember_me(style="margin-left: 10px; margin-top: 15px")}}<p id="remember-me", style="margin-left: 10px">Remember Me</p></span>
								</li>
							</ul>
						</form>
					{% endif %}
				</div>
			</div>
		</div>
		<h1><a href="/index" id="titleblock">DTextchange</a></h1>
	</div>
	<hr class="container"/>
	<div class="container col-xs-12">
		<div class="col-xs-12">
			{% block content %}
			{% endblock content %}
		</div>
	</div>
	<div class="container col-xs-12">
	<!--{% include 'footer.html' %}-->
	</div>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/angular.js') }}"></script>
</body>
</html>