<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	{% if title %}
	<title>DTextchange - {{title}}</title>
	{% else %}
	<title>DTextchange</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="http://bootstrap.hackdartmouth.org/assets/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/design.css') }}" />
	<link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}" />
</head>
<body>
	<div id="header-section">
		<div class="navbar navbar-default" role="navigation">
			<div class="container nav-collapse">
				<div class="navbar-inner">	
					<ul class="nav navbar-nav">
						<li><a href="/index">Home</a></li>
						<li><a href="/signup">Register</a></li>
						<li><a href="/contact">Contact Us</a></li>
						<li><a href="http://coursetown.hacktown.cs.dartmouth.edu/">Course Picker</a></li>
					</ul>
					<ul class="nav navbar-right">
						<li><span class="login-info">{{login_form.username(placeholder="username")}}</span></li>
						<li><span class="login-info">{{login_form.password(placeholder="password")}}</span></li>
						<li><span class="login-info">{{login_form.remember_me}}<p id="remember-me">Remember Me</p></span></li>
					</ul>
				</div>
			</div>
		</div>
		<h1><a href="/index" id="titleblock">DTextchange</a></h1>
	</div>
	<hr />
	<div class="container">
	{% block content %}
	{% endblock %}
	</div>
</body>
</html>