{% extends 'base.html' %}
{% block content %}
<script src=" {{ url_for('static', filename='js/contact.js') }}"></script>
<div class="container">
	<div class="col-sm-6">
		<div class="hero-unit" ng-controller="contactController as contactCtrl">
			<p><h1>Contact Us</h1>Questions? Comments? Leave us a note here. Or alternatively, shoot us a message at: <br /><a href="mailto:dtextchange@gmail.com">dartmouthtextchange@gmail.com</a></p>
			{% if messages['submitted'] %}
			<h3>Thank you for your feedback!</h3>
			{% else %}
			<form action="/contact" name="contact-form" method="post" ng-submit="contactCtrl.sendBlitz()">
				<div class="row-fluid">
					<div class="col-sm-8" style="margin-bottom: 5px"><div class="form-control">{{contact_form.name(placeholder="Name")}}</div></div>
					<div class="col-sm-8" style="margin-bottom: 5px"><div class="form-control">{{contact_form.subject(placeholder="Subject")}}</div></div>
				</div>
				<div class="row">
					<div class="col-sm-12" style="margin-bottom: 10px"><div class="form-control">{{contact_form.message(placeholder="Message")}}</div></div>
					<div class="form-group">{{contact_form.submit(class="btn btn-lg btn-success",  value="Send Message")}}</div>
				</div>
			</form>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}