{% extends 'base.html' %}
{% block content %}
<div class="container">
	<h1>Terms of Use</h1>
	<p>By choosing to use the DTextchange, you hereby agree to the following:</p>
	<ol>
		<li>Privacy and Data Retention
			<p>For the purpose of providing users with the ability to seek out former students for a particular course, the Dartmouth Hacker Club retains the right to all information shared on this site as long as your maintain an active account. We will use this information solely for internal purposes and will not under any circumstance share your information with third parties. Yes we're "hackers", but we're people too and we know how obnoxious spam can be.</p>
		</li>
		<hr />
		<li>Code of Conduct
			<p>The Hacker Club is committed to servicing the Dartmouth community with our applications, but our apps are only half of the picture. The other half comes from the users, and as such we expect all communications via the DTextchange to be made in a civil and respectful fashion. Your account is subject to immediate closure should we receive and verify complaints against your actions over the DTextchange. Please, don't make us do this.
			</p>
		</li>
		<hr />
		<li>Liability
			<p>We at the Dartmouth Hacker Club provide this application solely as a means to facilitate buying/selling textbooks and other course materials and are not party to the conditions of any transactions made between students. We will do our best to monitor any misleading postings, but we are ultimately not responsible for the outcomes of any agreements that are made as a result.
			</p>
		</li>
		<hr />
		<li>Third-Party Development
			<p>We are always open to third-party developers interested in building plug-ins and add-ons, but maintain ultimate control over the features of this site. If you have an idea or feature you would like to build, please contact us at <a href="mailto:dartmouthtextchange@gmail.com">dartmouthtextchange@gmail.com</a> and we will get back to you.
			</p>
		</li>
		<hr />
	</ol>
	<p>We hate long-winded ToCs as much as you do, so this is all we ask of you to use our service -- essentially, just be reasonable with your actions on this site. Congrats, you've finished reading the Terms of Use; now get to reading those books!</p>
</div>
{% endblock %}