{% extends 'base.html' %}
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='js/profile.js') }}"></script>
<div ng-app="profile" ng-controller="profileController">
	<div class="row profile-header">
		<div class="col-md-3">
			<div class="img-container">
				<a href="#"><img id="profile-pic" src="{{ user.profile_picture }}" alt="User profile pic" /></a>
			</div>
		</div>
		<div class="col-md-9">
			<div class="row"><h1 class="user-info">{{ user.name }}</h1></div>
			<div class="row"><a href="mailto:{{ user.email }}"><p class="user-info">Email: {{ user.email }}</p></a></div>
			{% if user.phone %}
				<div class="row"><p class="user-info">Phone: {{ user.phone }}</p></div>
			{% endif %}
			{% if user.hinman %}
			<div class="row"><p class="user-info">Hinman Box {{ user.hinman }}</p></div>
			{% endif %}
			{% if user.class %}
			<div class="row"><p class="user-info">Class of {{ user.class }}</p></div>
			{% endif %}
		</div>
	</div>
	<hr />
	<div class="row textbook-info text-center">
		<h1>class and textbook information goes here</h1>
	</div>
</div>
{% endblock content %}