html {
	min-height: 100%;
}

body { 
    background: url('../img/dartmouth.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

footer {
	background-color: #222222;
	color: #999999;	
	width: 100% !important;
	bottom: 0;
	position: relative;
	overflow: hidden;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.login-info {
	font-size: 1em;
}

#login-items {
	list-style: none;
	margin-bottom: 0;
}

.user-info {
	margin-top: 0px;
	padding-top: 0px;
}

.error-message {
	color: #ff0000;
}

#results {
	min-height: 60vh;
	background-color: rgba(255,255,255,0.8);
}

.results-profile-pic {
	width: 75px;
	height: 75px;
}

.active {
	background-color: #888888;
}

.toolbar {
	border-radius: 0px 0px 5px 5px;
}

.main-body {
	
}

.search-form {
	max-width: 100%;
}

.search-item {
	max-width: 100%;
}

.img-container {
	padding-top: auto;
	padding-bottom: auto;
	padding: auto;
	text-align: center;
}

#user-profile {
	min-height: 60vh;
	background-color: rgba(255,255,255,0.8);
}

#remember-me {
	font-size: 10px;
}

#header-section {
	height: 50vh;
}

#profile-pic {
	width: 200px;
	height: 200px;
}

#query-page {
	min-height: 60vh;
}

#register {
	min-height: 60vh;
	background-color: rgba(255,255,255,0.8);
}

#contact {
	min-height: 60vh;
	background-color: rgba(255,255,255,0.8);
}

#policies {
	background-color: rgba(255,255,255,0.8);
}