#remember-me {
	font-size: 10px;
}

#titleblock {
	font-size: 3em;
	color: #ffffff;
	padding-left: 20px;
	padding-top: 150px;
}

#header-section {
	background-image: url('../img/textbooks.jpg');
	height: 240px;
}

.login-info {
	font-size: 12px;
}